<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Task Sheet</title>
</head>
<body>
    <nav class="nav bg-dark mb-4">
        <div class="container">
            <a class="nav-link text-white" href="#"><h1>Todo list</h1></a>
        </div>
    </nav>
    <div class="container">
        <h1 class="mb-4">Add new task</h1>

        <form action="/todos" method="POST">
            <%- include('_form-field') %>
        </form>
    </div>
</body>
</html>